*::before, *::after {
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, hgroup, main, nav,
	section, summary {
	display: block;
}

.p5-clientUsage-title-img {
	height: 100px;
	margin-bottom: 20px;
	margin-top: 25px;
	width: 100%;
}

img {
	vertical-align: middle;
}

img {
	border: 0 none;
}

element.style {
	background-color: #f7f7f7;
}

.p5-clientUsage-nav {
	border-bottom: 1px dashed #dedede;
	border-top: 1px dashed #dedede;
	display: table;
	height: 124px;
	padding: 25px;
	width: 100%;
}

a {
	background: transparent none repeat scroll 0 0;
}

.p5-clientUsage-nav div {
	display: table-cell;
	vertical-align: middle;
}

.p5-clientUsage-hover-one {
	background-image:
		url("/static/img/intro/client_process_one_none.png?12ce9ff46ddc");
	height: 72px;
	width: 30px;
}

.p5-clientUsage-partition {
	border-bottom: 1px dashed #dedede;
}

.p5-clientUsage-step {
	margin-bottom: 25px;
	margin-top: 20px;
}

.p5-clientUsage-step .p5-clientUsage-step-title {
	color: #333333;
	font-size: 20px;
	margin-bottom: 0;
	margin-top: 0;
}

.p5-clientUsage-step .p5-clientUsage-step-content {
	margin-left: 45px;
	margin-top: 15px;
}

.p5-clientUsage-step .p5-clientUsage-step-content .p5-clientUsage-step-mainText
	{
	color: #555555;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
}

.p5-clientUsage-step .p5-clientUsage-step-content .p5-clientUsage-step-subText
	{
	color: #555555;
	font-size: 16px;
	margin-bottom: 15px;
}

.p5-clientUsage-step-info, .p5-clientUsage-step-info-support,
	.p5-clientUsage-step-info-charge {
	border: 1px solid #2099bb;
	color: #555555;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 10px;
	margin-right: 35px;
	padding: 15px 15px 5px;
}

.p5-clientUsage-step-info .p5-clientUsage-step-info-line,
	.p5-clientUsage-step-info-support .p5-clientUsage-step-info-line,
	.p5-clientUsage-step-info-charge .p5-clientUsage-step-info-line {
	line-height: 20px;
	margin-bottom: 10px;
}

.p5-clientUsage-step-info-support {
	border: 1px solid #f48023;
	margin-bottom: 15px;
	overflow: hidden;
}

.p5-clientUsage-step-info, .p5-clientUsage-step-info-support,
	.p5-clientUsage-step-info-charge {
	border: 1px solid #2099bb;
	color: #555555;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 10px;
	margin-right: 35px;
	padding: 15px 15px 5px;
}

.p5-clientUsage-step-info-support .p5-clientUsage-step-info-support-grp
	{
	border-right: 1px solid #dedede;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 34px;
	padding-right: 10px;
	padding-top: 28px;
	width: 412px;
}

.p5-clientUsage-step-info-support .p5-clientUsage-step-info-support-grp *:first-child
	{
	margin-bottom: 12px;
}

.p5-clientUsage-step-info-support .p5-clientUsage-step-info-support-cs {
	float: left;
	padding-left: 12px;
	width: 204px;
}

.p5-clientUsage-step-info-support .p5-clientUsage-step-info-support-cs .cs-detail
	{
	font-size: 13px;
}

.p5-clientUsage-step-info-support .p5-clientUsage-step-info-support-cs .cs-detail p
	{
	margin-bottom: 8px;
}

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: inherit;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-rendering: auto;
}

element.style {
	margin-left: -2px;
	margin-right: 5px;
	padding: 0;
}

.p5-clientUsage-step-info-support img {
	float: left;
	padding: 10px 10px 7px 0;
}

.service-Introduction-first-title {
	margin-bottom: 25px;
}

.p5-serviceIntroduction-title {
	color: #555555;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 25px;
}

h5, .h5 {
	font-size: 14px;
}

h4, .h4, h5, .h5, h6, .h6 {
	margin-bottom: 10px;
	margin-top: 10px;
}

h1, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: inherit;
	font-family: inherit;
	font-weight: 700;
	line-height: 1.1;
	text-rendering: optimizelegibility;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

section {
	border-top: 1px dashed #dedede;
}

.p5-serviceIntroduction-title .p5-serviceIntroduction-title-img {
	margin-right: 10px;
}

.p5-serviceIntroduction-list-component {
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;
	padding-left: 10px;
}

.p5-serviceIntroduction-list-component .p5-serviceIntroduction-list-text
	{
	float: left;
	padding-bottom: 22px;
	padding-top: 15px;
}

.p5-serviceIntroduction-list-component .p5-serviceIntroduction-list-text .p5-serviceIntroduction-list-title
	{
	color: #333333;
	font-size: 18px;
	margin-bottom: 0;
	margin-top: 0;
}

.p5-serviceIntroduction-list-component .p5-serviceIntroduction-list-img
	{
	float: right;
	padding-right: 150px;
}

.p5-serviceIntroduction-breif-info {
	overflow: hidden;
	padding-bottom: 25px;
}

.p5-serviceIntroduction-breif-info .p5-serviceIntroduction-breif-text {
	padding-bottom: 0;
	padding-top: 15px;
}

.p5-serviceIntroduction-breif-info .p5-serviceIntroduction-breif-text p
	{
	color: #555555;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 0;
}

.p5-serviceIntroduction-breif-info .p5-serviceIntroduction-breif-img {
	float: left;
	height: auto;
	padding-right: 30px;
}

.p5-serviceIntroduction-list {
	padding-bottom: 5px;
}

.p5-serviceIntroduction-list-component-right {
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;
}

.p5-serviceIntroduction-list-component-right .p5-serviceIntroduction-list-img
	{
	float: left;
	margin-right: 25px;
}

.p5-serviceIntroduction-list-component-right .p5-serviceIntroduction-list-text
	{
	display: table;
	height: 120px;
}

.p5-serviceIntroduction-list-component-right .p5-serviceIntroduction-list-text .p5-serviceIntroduction-list-text-wrapper
	{
	display: table-cell;
	vertical-align: middle;
}

.p5-serviceIntroduction-list-component-right .p5-serviceIntroduction-list-text .p5-serviceIntroduction-list-text-wrapper p
	{
	color: #555555;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 0;
	margin-top: 9px;
}

.p5-serviceIntroduction-list-component-right .p5-serviceIntroduction-list-text .p5-serviceIntroduction-list-text-wrapper .p5-serviceIntroduction-list-title
	{
	color: #333333;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 0;
	margin-top: 0;
}

/* * {
    box-sizing: border-box;
} */
body {
	color: #555;
	font-family: "Nanum Gothic", "Apple SD Gothic Neo", "맑은 고딕",
		"Malgun Gothic", "AppleGothic", "돋움", Dotum, Helvetica, Arial,
		sans-serif;
	font-size: 14px;
	line-height: 1.42857;
}

.conainer {
	margin-left: 300px;
}

html {
	font-size: 62.5%;
}

html, button, input, select, textarea {
	font-family: sans-serif;
}

html {
	font-size: 100%;
}

.left_menu {
	width: 200px;
	margin: 50px;
	margin-right: 0;
	float: left;
}

.left_menu_title {
	border-bottom: 1px solid;
	border-top: 1px solid;
	text-align: center;
	margin-bottom: 30px;
}

.left_menu_contents {
	margin: 0;
	padding: 0;
	text-align: center;
}

.left_menu_contents>li {
	list-style: none;
	padding-bottom: 10px;
	border-bottom: 1px solid #c0c0c0;
	padding-top: 8px;
}

.left_menu_contents>li>a {
	text-decoration: none;
}