@CHARSET "EUC-KR";

.messengerWrapper {
	width: 270px;
	height: 450px;
	border: 1px solid;
	border-radius: 25px;
	background-color: #0080ff;
}

.chat_top {
	height: 54px;
}

.chat_menu {
	padding-left: 10px;
}

.exit_menu {
	position: absolute;
	padding-left: 160px
}

.chat_text_area {
	height: 354px;
	background-color: #ffffff;
	text-align: center;
	border-bottom: 1px solid #c0c0c0;
}

.chat_text_input {
	background-color: #ffffff;
	padding-left: 30px;
	padding-top: 7px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	float: left;
}

.chat_text_put {
	border: none;
	text-align: center;
	padding-bottom: 6px;
	height: 20px;
	padding-top: 6px;
}

.chat_content {
	width: 200px;
	border: 1px solid #c0c0c0;
	background-color: #c0c0c0;
	border-radius: 25px;
	border-top-left-radius: 0px;
	margin-left: 20px;
	margin-top: 10px;
}

.chat_send {
	background-color: #ffffff;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 12px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}