/* reset */
header, footer, section, article, aside, nav, hgroup, details, menu,
	figure, figcaption {
	display: block
}

body, p, h1, h2, h3, h4, h5, h6, ol, li, dl, dt, dd, table, th, td, form,
	fieldset, legend, input, textarea, button, select {
	margin: 0;
	padding: 0; /* color:#333 */
}

body, input, textarea, select, button, table {
	font-size: 13px;
	line-height: 1.25em;
	font-family: 'NanumGothic_r';
	color: #333
}

body {
	color: #333;
	-webkit-text-size-adjust: none
}

img, fieldset {
	border: 0
}

ul, ol {
	list-style: none
}

em, address {
	font-style: normal
}

a {
	color: #333;
	text-decoration: none
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	word-break: break-all
}

caption {
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	color: transparent
}

.skip {
	visibility: hidden;
	overflow: hidden;
	left: -999em;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0
}

.tx_skip {
	font-size: 0px !important;
	line-height: 0px !important;
	color: transparent !important;
	text-indent: -99999px
}

.tx_doc {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

hr {
	display: none !important
}

.fl {
	float: left !important
}

.fr {
	float: right !important
}

.ct {
	clear: both;
	width: 100%
}

.ct::after {
	display: block;
	clear: both;
	height: 1px;
	margin-top: -1px;
	content: ''
}

.overf {
	overflow: hidden
}

.al {
	text-align: left !important
}

.ac {
	text-align: center !important
}

.ar {
	text-align: right !important
}

.cur {
	cursor: pointer
}

input[type='checkbox'], input[type="radio"] {
	cursor: pointer;
	clear: both;
	overflow: hidden;
	vertical-align: middle
}

input[type='text'], textarea {
	border: 1px solid #CCC
}

{
border
:
1px
 
solid
 
#CCC
}
.mb10 {
	margin-bottom: 10px !important
}

.mb20 {
	margin-bottom: 20px !important
}

.mb30 {
	margin-bottom: 30px !important
}

.mb50 {
	margin-bottom: 50px !important
}

@font-face {
	font-family: 'NanumGothic_b';
	font-style: normal;
	font-weight: 700;
	src:
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
	src:
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix)
		format('embedded-opentype'),
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2)
		format('woff2'),
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff)
		format('woff'),
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf)
		format('truetype');
}

@font-face {
	font-family: 'NanumGothic_r';
	font-style: normal;
	font-weight: 400;
	src:
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
	src:
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix)
		format('embedded-opentype'),
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2)
		format('woff2'),
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff)
		format('woff'),
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf)
		format('truetype');
}

@font-face {
	font-family: 'NanumGothic_eb';
	font-style: normal;
	font-weight: 800;
	src:
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
	src:
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix)
		format('embedded-opentype'),
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2)
		format('woff2'),
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff)
		format('woff'),
		url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf)
		format('truetype');
}