.left_menu {
	width: 200px;
	margin: 50px;
	margin-right: 0;
	float: left;
}

.left_menu_title {
	border-bottom: 1px solid;
	border-top: 1px solid;
	text-align: center;
	margin-bottom: 30px;
}

.left_menu_contents {
	margin: 0;
	padding: 0;
	text-align: center;
}

.left_menu_contents>li {
	list-style: none;
	padding-bottom: 10px;
	border-bottom: 1px solid #c0c0c0;
	padding-top: 8px;
}

.left_menu_contents>li>a {
	text-decoration: none;
}

#firstsection {
	margin-top: 50px;
	margin-left: 300px;
}

#calendar {
	display: inline;
	float: left;
}

#calendar th {
	width: 100px;
}

#sun {
	color: red;
}

#sat {
	color: blue;
}

#calendar td {
	width: 100px;
	align: center;
	padding-bottom: 50px;
}

#list {
	margin-left: 750px;
	margin-right: 100px;
	width: 200px;
}

#list li {
	list-style: none;
}

#space {
	clear: both;
}